@keyframes msg {
    0% {
        transform: translate(100%, -50%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@media screen and (min-width: 600px) {
    #side_win {
        position: absolute;
        width: 200px;
        height: 80%;
        left: 0;
        top: 50%;
        transform: translate(-80%, -50%);
        border-radius: 0 5px 5px 0;
        background-color: #fff6e9;
        transition: .3s ease-in-out;
        padding: 10px;
        padding-left: 20px;
        padding-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: left;
        overflow-y: scroll;
    }

    #side_win::-webkit-scrollbar {
        display: none;
    }

    #side_win::before {
        content: ">";
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 10px;
        color: rgb(123, 123, 123);
        font-size: 40px;
        font-weight: 900;
    }

    #side_win:hover {
        transform: translate(0%, -50%);
    }

    .open_tab {
        display: none;
    }

    .dialog {
        font-size: 100px;
    }

    .MessageBox{
        font-size: 30px;
        min-width: 60%;
    }

    .MessageBox p{
        font-size: 45px;
    }
    .prob_label{
        font-size: 25px;
        margin: 0 15px 0 15px;
        color: #776e65;
        font-family: "SFPro";
    }
}

@media screen and (max-width: 600px) {
    #side_win {
        position: absolute;
        width: 220px;
        height: 72%;
        left: 0;
        bottom: 10%;
        overflow: scroll;
        transform: translateX(-100%);
        border-radius: 0 5px 5px 0;
        background-color: #fff6e989;
        transition: .3s ease-in-out;
        padding-left: 20px;
        padding-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: left;
        backdrop-filter: blur(20px);
        webkit-backdrop-filter: blur(20px);
    }

    .open_tab {
        position: absolute;
        top: 5%;
        left: 5%;
        border: none;
        border-radius: 60px;
        width: 60px;
        height: 60px;
        font-size: 30px;
        font-family: "SFPro";
        background-color: #ffefd9;
        font-weight: 900;
        color: #776e65;
    }

    .dialog {
        font-size: 50px;
    }

    .MessageBox{
        font-size: 25px;
        min-width: 85%;
    }
    .MessageBox p{
        font-size: 35px;
    }
    .prob_label{
        font-size: 20px;
        margin: 0 5px 0 5px;
        color: #776e65;
        font-family: "SFPro";
    }
}

#side_win {
    font-family: "PingFangSC", "SFPro";
    color: #776e65;
}

#side_win p {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
    margin-bottom: 1rem;
}

#side_win h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 1rem;
}

.MessageBox {
    touch-action: none;
    border-radius: 10px;
    min-height: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4e2d080;
    backdrop-filter: blur(20px);
    webkit-backdrop-filter: blur(20px);
    transition: .2s;
    overflow: hidden;
    animation: msg cubic-bezier(0.55, 0.09, 0.25, 1.14).5s;
    padding: 20px;
    font-family: "PingFangSC", "SFPro";
    color: rgb(99, 95, 85);
    transition: .5s ease-in;
}

.MessageBox p {
    margin: 0;
    font-weight: 800;
}

.MessageBox .closeBtn {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 15px;
    line-height: 50px;
    color: rgb(123, 123, 123);
    font-size: 50px;
    font-weight: 900;
    cursor: pointer;
}

.side_btn {
    border: none;
    border-radius: 10px;
    width: 80%;
    min-height: 50px;
    margin-top: 30px;
    font-size: 20px;
    font-family: "PingFangSC", "SFPro";
    background-color: #ffefd9;
    cursor: pointer;
    font-weight: 700;
    color: #776e65;
}

.dialog {
    animation: opacity ease-in .5s;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    color: white;
    transition: .2s;
    flex-direction: column;
    z-index: 1000;
}

#prob {
    width: 70%;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    display:inline;
    margin: 10px 0 0 0;
    position: relative;
}

#prob::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    box-shadow: 1px 1px 8px #0000003f;
    background: #ffefd9;
    /* border-radius: 10px; */
    -webkit-appearance: none;
}

#prob::-webkit-slider-thumb {
    box-shadow: 1px 1px 5px #776e65;
    height: 25px;
    width: 25px;
    border-radius: 15px;
    background: #ffe9cb;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}