@font-face {
    font-family: "PingFangSC";
    src: url("../../assessts/PingFangSC-Regular.woff2");
}

@font-face {
    font-family: "SFPro";
    src: url("../../assessts/sf-pro-text_regular.woff2");
}

html {
    width: 100%;
    height: 100%;
    touch-action: none;
    overflow: hidden;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #fffbf4;
}


/* @keyframes anime {
    0% {
        transform: translate(-50%, 0%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
} */

@keyframes opacity {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@media screen and (min-width: 600px) {
    #main_win {
        padding: 8px;
    }

    .node {
        font-size: 60px;
        margin: 7px;
    }

    .small_node {
        font-size: 45px;
    }

    .space_holder {
        margin: 7px;
    }
}

@media screen and (max-width: 600px) {
    #main_win {
        padding: 5px;
    }

    .node {
        font-size: 30px;
        margin: 5px;
    }

    .small_node {
        font-size: 19px;
    }

    .space_holder {
        margin: 5px;
    }
}

#main_win {
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #bbada0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    transition: .2s;
    overflow: hidden;
    /* animation: anime forwards 1s; */
}

.node {
    border-radius: 5px;
    background-color: azure;
    text-align: center;
    font-weight: 700;
    transition: .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #776e65;
    grid-column: 1;
    grid-row: 1;
    transition: .1s;
}

.space_holder {
    border-radius: 3px;
    background-color: rgba(238, 228, 218, 0.35);
    text-align: center;
    font-size: 80px;
}

.dialog {
    animation: opacity ease-in .5s;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 100px;
    color: white;
    transition: .2s;
    flex-direction: column;
}

.f_btn {
    width: 160px;
    height: 80px;
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    border: none;
    font-size: 35px;
    transition: .5s;
}

.f_btn:hover {
    cursor: pointer;
    box-shadow: inset 1000px 1000px rgba(0, 0, 0, 0.14);
}